/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: white;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #232323;
}

header {
  top: 0;
  z-index: 20; /* Allows dropdown-menu to appear infront of hero-image */
  width: 100%;
}

/* Styling and layout for parent navigation bar on desktop and mobile */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

/* Nav IJBC Logo Image */
.header-image {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 100%;
  height: 12vh;
  padding: .5em 1em;
}

.header-image img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Layout and styling for both desktop and mobile navigation links */
.nav-menu {
  position: relative;
  list-style: none;
  display: flex;
  width: 100%;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  display: block;
  width: 100%;
}

a {
  transition: .4s ease;
}

/* Styling for both desktop and mobile dropdown submenu and for ham menu icon */

.dropdown-menu li {
  /* width: 100%; */
  list-style: none;
}

.dropdown-menu a {
  display: block;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

/* Order Online container */
.order-list {
  padding: 20px 30px;
}

/* text coloring inside button. needs to be defined here bc of ".nav-menu a { color: #fff; }" above on the page. */
.nav-menu .mobile-order {
  color: #000000;
}

/* ORDER ONLINE BUTTON styling for both desktop and mobile view */
.nav-menu .mobile-order {
  display: flex;
  justify-content: center;
  background-color: #F99D2C;
  border: transparent solid 2px;
  color: #000000;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  cursor: pointer;
  height: auto; /* Specifies that I want the height of THIS container to fit exactly around its defined padding. Instead of being defined by a more general selector such as ".nav-menu a {...}" */
  max-width: 15rem;
  min-width: 12rem;
  margin: 0 auto;
  /* transition: background-color .1s, color .1s, border .1s; */
}

@media (min-width: 958px) {
  /* Hover mode for menu desktop view  */

  .navbar {
    height: 12vh
  }

  .nav-menu {
    position: relative;
    height: 100%;
    width: auto;
    align-items: center;
    z-index: 99;
  }

  .nav-menu li {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    z-index: 1;
  }

  .dropdown a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
  }

  .dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.888);
    transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease; /* This property controls all of the hover transition styling on the desktop view */
    color: black; 
  }

  .dropdown-menu {
    position: absolute;
    visibility: hidden;
    /*  Makes the dropdown menu invisible but still occupies space in the layout. */
    top: 100%;
    max-height: 0;
    min-width: 100%;
    opacity: 0;
    background: #333333f1;
    transition: transform 0.4s ease, opacity 0.4s ease, max-height 0.4s ease;
    white-space: nowrap;
    /* Prevents wrapping */
  }

  /* Show dropdown on hover (for desktop) */
  .dropdown:hover .dropdown-menu {
      top: 100%;
      max-height: 400px;
      min-width: 100%;
      opacity: 1;
      visibility: visible;
      /* Make it visible only when hovering */
  }

  .dropdown-menu a {
    border-width: 4px 0 4px 4px;
    border-style: dashed;
    border-color: transparent;
    font-size: 1.1em;
  }

  .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #F99D2C;
    border-left: 4px solid #F99D2C;
  }

  /* Hover styling for Order Online button*/

  .dropdown .order-btn:hover {
    background-color: transparent;
    border: #fff solid 2px;
    color: #fff;
  }
}

/* Responsive styling for mobile*/
@media (max-width: 957px) {

  .navbar {
      position: relative;
      height: 11vh;
  }

  .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 100%;
      width: 100%;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: max-height 1s ease-in-out, opacity 0.3s ease;
      background: #444;
  }

  .nav-menu.show {
      max-height: 1500px;
      /* Adjust as needed */
      opacity: 1;
      overflow: visible
  }

  .nav-menu li {
      width: 100%;
      /* Ensure full clickable width */
      text-align: center;
      /* Align the content inside */
  }

  .dropdown {
      width: auto;
      overflow: hidden;
      /* Adding this property ensures a smooth rollout of the dropdown-menu, as the .dropdwon is forced to "stay hidden" UNTIL the nav-menu finishes its animation */
  }

  .dropdown a {
    display: flex;
    justify-content: center;
  }

  .dropdown a:active {
    color:#F99D2C;
    background: #333;
  }

  .dropdown.active .dropdown-menu {
    max-height: 300px;
    /* Adjust as needed */
    opacity: 1;
  }

  .dropdown-menu {
      width: 100%;
      text-align: center;
      position: static;
      max-height: 0;
      /* Start hidden */
      opacity: 0;
      overflow: hidden;
      /* Adding this property ensures a smooth rollout of the submenu*/
      background: #333;
      transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .dropdown-menu a:active {
    background: #222;
    color:#F99D2C;
    transition: none;
  } 

  /* active pseudo class styles order online button like this */
  .nav-menu .order-active:active {
    background: #ffb65c;
    color: black;
    border: #FFF solid 2px;
  }

  .menu-toggle {
      display: block;
  }
}
